body {
  margin: 0;
  padding: 0;
  background-color: hsl(220, 10%, 10%);
  text-align: center;
}

/* #p5-sketch {
  perspective: 1000px;
  text-align: center;
}

#defaultCanvas0 {
  border-radius: 5rem;
  background: linear-gradient(
    135deg,
    hsla(355, 94%, 33%, 0.5) 0%,
    hsla(2, 90%, 39%, 0.5) 100%
  );

  transform: rotateX(50deg);
} */

button {
  background: transparent;
  border: 1px solid hsl(355, 94%, 33%);
  border-radius: 0.5rem;
  height: 2rem;

  color: hsl(29, 81%, 79%);
}
